<!DOCTYPE html>
<html lang="en">
<head>

  <!-- META TAGS -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- TITLE -->
  <title>VUE SLIDER</title>

  <!-- LINK CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- CND VUE JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- SCRIPT -->
  <script src="script.js" defer></script>
</head>
<body>

  <!-- CONTENITORI PRINCIPALI -->
  <div id="app">
  <div class="main-container" @mouseover="hover = true" @mouseleave="hover = false">
    <!-- CONTENITORE FILM PRINCIPALE -->
    <div class="left-thumbnail-container big-image">
      <img :src="films[currentIndex].image" alt="">

      <!-- CONTENITORE DEL TESTO DEL FILM PRINCIPALE -->
      <div class="text-container">
        <h2>{{ films[currentIndex].title }}</h2>
        <p>{{ films[currentIndex].text }}</p>
      </div>
    </div>

    <!-- CONTENITORE MINIATURE -->
    <div class="right-thumbnail-container">
      <span class="arrow arrow-up" @click="prev()">&#10095;</span>
      <span class="arrow arrow-down" @click="next()">&#10095;</span>
      
      <!-- GENERAZIONE DELLE MINIATURE -->
      <!-- 
        v-for="(film, index) in films" è la direttiva che ci permette di iterare sull'array films e di generare un div per ogni oggetto al suo interno. film rappresenta l'oggetto corrente, mentre index rappresenta l'indice dell'oggetto corrente nell'array.

        :key="index" è una proprietà obbligatoria quando si utilizza v-for per generare elementi dinamici. In questo caso, stiamo assegnando come chiave l'indice dell'oggetto corrente.

        class="thumbnail" è una classe CSS che verrà assegnata a tutti i div generati.

        :class="{ 'selected': currentIndex === index }" è una sintassi particolare di Vue.js che ci permette di aggiungere dinamicamente una classe CSS ai nostri elementi in base ad una condizione. In questo caso, stiamo controllando se currentIndex è uguale all'indice corrente. Se la condizione è vera, allora al div verrà assegnata la classe CSS selected (rendendo l'immagine non opaca), altrimenti no.
        
        @click="currentIndex = index aggiorna currentIndex in base all'immagine cliccata, in questo modo visualizzare in grande l'immagine corrispondente.
      -->

      <div v-for="(film, index) in films" :key="index" class="thumnail" :class="{ 'selected': currentIndex === index }" @click="currentIndex = index">
        <img :src="film.image" alt="">
      </div>
    </div>
  </div>
  </div>
</body>
</html>