:root {
  --container-width: 80vw;
  --container-min-width: 500px;
  --container-max-width: 1500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.main-container {
  display: flex;
  justify-content: center;

  width: var(--container-width);
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);

  height: calc(var(--container-width) / 2);
  min-height: calc(var(--container-min-width) / 2);
  max-height: calc(var(--container-max-width) / 2) ;
}

.left-thumbnail-container {
  width: 80%;
  position: relative;
}

.right-thumbnail-container {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 20%;
}

.thumnail  {
  width: 100%;
  height: calc(100% /5);
  opacity: 0.5;
  cursor: pointer;
}

.thumnail.selected {
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.arrow {
  position: absolute;
  color: white;
  font-size: 40px;
  padding: 5px;

  cursor: pointer;
  z-index: 1;
}

.arrow:hover {
  color: #555555;
  cursor: pointer;
  transition: color 0.5s ease;
}

.arrow-up {
  left: 45%;
  top: 0px;

  transform: rotate(270deg);
}

.arrow-down {
  left: 45%;
  bottom: 0px;

  transform: rotate(90deg);
}

#play {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #dddddd;
  border: none;
  color: #333333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: Arial, sans-serif;
  width: 100%;
  margin-left: 20px;
  margin-top: 5px;
}

button:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}

.text-container {
  color: white;
  text-align: end;
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 20px;
}